.accordion {
  padding-left: 20px;
  position: relative;
  font-size: 12px;
  user-select: none;
}
.accordion.main {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  min-width: 150px;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #d8d8d8;
}
.accordion.collapsed .content {
  max-height: 0;
}
.accordion li {
  list-style-type: none;
  cursor: pointer;
}
.accordion li .content {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  max-height: 400px;
}
.accordion li .title {
  padding: 5px;
}
.accordion li .title.leaf {
  color: #00a9e0;
}
.accordion li .title.leaf:hover {
  color: #00587c;
}
.accordion li .title.leaf::after {
  display: none;
}
.accordion li .title::after {
  content: '';
  background-image: url("http://bitshares-munich.evennode.com/img/arrows.png");
  background-position: 0 -24px;
  border-collapse: separate;
  color: #00587c;
  cursor: pointer;
  display: block;
  font-family: Ubuntu, Arial;
  font-size: 12px;
  height: 12px;
  left: auto;
  line-height: 16px;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  left: 10px;
  text-align: left;
  top: 5px;
  visibility: visible;
  width: 12px;
}
.accordion.expanded > li > .title::after {
  background-position: 0 -36px;
}
.accordion.main.expanded > li > .title::after {
  background-position: 0px -12px;
}
.accordion.main > li > .title::after {
  background-position: 0px 0px;
  left: auto;
  right: 6px;
  top: 9px;
}
